@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.main-btn {
  cursor: pointer;
  border-radius: 34px;
  padding: 0.6rem 2rem;
  color: #fff;
  font-weight: 700;
  border: none;
  background: var(--main-btn-linear-gradient);
}

.main-btn:hover {
  background: var(--call-to-action-gradient1);
}

:root {
  --intro-emailBG: hsl(217, 28%, 15%);
  /*Dark Blue*/
  --mainBG: hsl(218, 28%, 13%);
  /*Dark Blue*/
  --footerBG: hsl(216, 53%, 9%);
  /*Dark Blue*/
  --testimonialsBG: hsl(219, 30%, 18%);
  /*Dark Blue*/
  --call-to-action-gradient1: hsl(176, 68%, 64%);
  /* Cyan  (inside call-to-action gradient) */
  --call-to-action-gradient2: hsl(198, 60%, 50%);
  /* Blue  (inside call-to-action gradient) */
  --main-btn-linear-gradient: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  --error: hsl(0, 100%, 63%);
  /*Light Red */
  --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
div {
  padding: 0;
  margin: 0;
}

input,
button {
  outline: none;
}

nav, header.intro, .features, .motivation, .testimonials, footer {
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1640px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: var(--mainBG);
  color: var(--White);
}

p {
  line-height: 1.3rem;
}

h1,
h2,
h3,
h4,
button,
input[type="submit"],
nav {
  font-family: "Raleway", sans-serif;
}

footer .social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--intro-emailBG);
}

nav .nav__link {
  text-decoration: none;
  color: inherit;
}

nav .nav__link:hover {
  text-decoration: underline;
}

nav .nav__link:not(:last-of-type) {
  margin-right: 2rem;
}

@media screen and (max-width: 800px) {
  nav .nav__link:not(:last-of-type) {
    margin-right: 1rem;
  }
  nav .brand__logo {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100px;
    max-height: 42px;
  }
}

header.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url("../images/bg-curvy-desktop.svg"), var(--intro-emailBG);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 6rem;
}

header.intro .intro__img {
  max-width: 600px;
}

header.intro .intro__main__heading {
  max-width: 30ch;
}

header.intro .intro__subtitle {
  max-width: 55ch;
  line-height: 1.3rem;
}

@media screen and (max-width: 800px) {
  header.intro {
    background: url("../images/bg-curvy-mobile.svg"), var(--intro-emailBG);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
  header.intro .intro__main__heading {
    font-size: 1.7rem;
  }
  header.intro .intro__main__heading,
  header.intro .intro__subtitle {
    max-width: 80%;
  }
  header.intro .intro__img {
    max-width: 300px;
  }
}

.features, .motivation {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(330px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(330px, 1fr));
  text-align: center;
  justify-items: center;
  grid-gap: 3rem;
}

.features .feature__wrapper {
  max-width: 20rem;
}

.features .feature__wrapper h2 {
  font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
  .features {
    -ms-grid-columns: (minmax(330px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(330px, 1fr));
  }
}

.motivation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.motivation * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.motivation .motivation__img {
  width: 100%;
}

.motivation .motivation__intro__wrapper {
  margin-left: 3rem;
  margin-top: 4rem;
}

.motivation .motivation__intro__wrapper h1 {
  font-weight: 700;
  font-size: 2.5rem;
  max-width: 24rem;
}

.motivation .how__works_link__wrapper {
  padding-bottom: 0.2rem;
  display: inline-block;
  border-bottom: 1px solid var(--call-to-action-gradient1);
  color: var(--call-to-action-gradient1);
}

.motivation .how__works_link__wrapper:hover {
  border-bottom: none;
  color: var(--White);
}

.motivation .how__works_link__wrapper:hover g + circle {
  fill: var(--White) !important;
}

.motivation .how__works_link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

@media screen and (max-width: 1000px) {
  .motivation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .motivation .motivation__intro__wrapper {
    margin-left: 0rem;
  }
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/bg-quotes.png") no-repeat;
  background-position: left 5vw top;
  padding-top: 2rem;
}

.testimonials .testimonial {
  width: 330px;
  padding: 1.5rem;
  border-radius: 0.3rem;
  background: var(--testimonialsBG);
}

.testimonials q {
  line-height: 1.4rem;
}

.testimonials .user__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.testimonials .user__img {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials .user__info {
  margin-left: 1rem;
}

.testimonials p {
  margin: 0px;
}

@media screen and (max-width: 1028px) {
  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials .testimonial:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}

.email__area {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--intro-emailBG);
  margin: 0 25vw;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 120px;
}

.email__area .email__input {
  padding: 0.6rem 2rem;
  border-radius: 34px;
  border: none;
  width: 26rem;
}

@media screen and (max-width: 1000px) {
  .email__area {
    margin: 0 5vw;
    top: 160px;
  }
  .email__area .email__input {
    margin-bottom: 1rem;
    width: 16rem;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  background-color: var(--footerBG);
  padding-top: 160px;
  padding-bottom: 8rem;
}

footer header {
  grid-column: 1/-1;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer .phone__icon,
footer .email__icon {
  margin-right: 1rem;
}

footer .social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social__icon {
  cursor: pointer;
  border: 1px solid var(--White);
  color: var(--White);
  height: 34px;
  width: 34px;
  border-radius: 50%;
}

footer .social__icon:hover {
  background-color: var(--White);
  color: var(--call-to-action-gradient1);
}

footer .social__icon:not(:last-of-type) {
  margin-right: 1rem;
}

@media screen and (max-width: 1027px) {
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 220px;
  }
}
/*# sourceMappingURL=style.css.map */